@import url('https://fonts.googleapis.com/css2?family=Maven+Pro:wght@400..900&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Abyssinica+SIL&display=swap');
@tailwind base;
@tailwind components;
@tailwind utilities;

body {
  @apply bg-primary 
  /* background-size: cover; 
  background-position: center; 
  background-attachment: fixed; 
  background-repeat: no-repeat; Do not repeat the image */
}
body{
  background-image: url('/images/bg1.png');
}

.span-bg {
  background-image: url('/images/div2.png');
}

.span-bg1 {
  background-color: #FFFFE7 ;
  background-image: url('/images/logo1.png');
  background-repeat: no-repeat;
  background-size: contain; /* Makes the image fit entirely inside the container */
  background-position: center center; /* Centers the image in the container */
  height: 485px; /* Set the height to your preference */
  width: 450px; /* Set the width to your preference */
}

.backgroundClass {
  /* background-image: ; */
  background-size: cover; /* Or any other size */
}



.input{
 @apply  outline-none border-b-2 border-underline text-black bg-light_background text-2xl p-2; 
}

.input-placeholder::placeholder{
  @apply font-aventa text-dark_green text-2xl;
}

.input-placeholder2::placeholder{
  @apply font-aventa text-white text-2xl;
}


.input2{
  @apply outline-none border-b-2 border-white pb-10 text-2xl;
}


.btn_green{
  @apply border border-btn_hover bg-btn_hover/30 backdrop-blur-md text-white;
}



/* font data */

@font-face {
  font-family: 'Aventa';
  src: url('/fonts/Aventa-Regular.woff2') format('woff2'),
       url('/fonts/Aventa-Regular.woff') format('woff');
  font-weight: 400;
  font-style: normal;
}

@font-face {
  font-family: 'Heavitas';
  src: url('/fonts/Heavitas.ttf') format('truetype');
}

@font-face {
  font-family: 'Aventa Extra';
  src: url('/fonts/Aventa-ExtraBoldItalic.woff2') format('woff2'),
       url('/fonts/Aventa-ExtraBoldItalic.woff') format('woff');
  font-weight: 800;
  font-style: normal;
}

@font-face {
  font-family: 'Gilroy';
  src: url('/fonts/Gilroy-ExtraBoldItalic.ttf') format('truetype');
}


/* popup */

.overlay {
  background-color: rgba(0, 0, 0, 0.5);
  position: fixed;
  width: 100%;
  height: 100%;
}

.modalContainer {
  max-width: 600px;
  width: 100%;
  position: fixed;
  top: 40%;
  left: 50%;
  transform: translate(-50%, -50%);
  display: flex;
  background-color: #04544B;
  box-shadow: 0px 0px 18px 0px rgba(0, 0, 0, 0.75);
  border-radius: 8px;
  z-index: 10;
}

.modalRight {
  width: 100%;
}

.closeBtn {
  position: fixed;
  top: 8px;
  right: 8px;
}

.content {
  display: flex;
  flex-direction: column;
  justify-content: center;
  text-align: center;
  margin-top: 225px;
  padding: 1rem 2rem;
}

.btnContainer {
  display: flex;
  padding: 1rem 1rem;
}

.btnContainer button {
  width: 100%;
  margin: .5rem;
  padding: 16px 0;
  /* border: none; */
  border: 1px solid #411b57;
  /* color: #ffffff; */
}

.btnPrimary {
  background-color: #411b57;
  color: white;
}

.btnOutline {
  /* background-color: #a76a99; */
  background-color: white;
  color: #411b57;
}

.bold {
  font-weight: 600;
}

@media screen and (max-width: 500px) {
  .modalContainer {
    flex-direction: column;
    top: 0;
    left: 0;
    transform: none;
    width: 100%;
    height: 100vh;
  }
  img {
    width: 100%;
    max-height: 70vh;
    object-fit: cover;
  }

  .heading {
    margin: 1rem;
  }
}





/* instagram data */

.grid-container {
  display: grid;
  grid-template-columns: repeat(auto-fill, minmax(300px, 1fr)); 
  gap: 20px;
}

.instagram-posts-container {
  display: flex;
  justify-content: space-between;
  align-items: center;
  width: 800px; 
  margin: auto; 
}

.instagram-post-item {
  width: calc((800px - 20px)); 
  height: 300px; 
  overflow: hidden;

  margin: 0 10px;
  display: flex;
  justify-content: center ; 
  align-items: flex-start;
  transform: scale(1);
  transform-origin: center; 
}

.instagram-post-item blockquote {
  transform: scale(0.4); 
  transform-origin: center center; 
}


@media (max-width: 980px) {
  .instagram-posts-container {
    flex-direction: column;
    width: 80%;
    margin: 0 auto; 
  }

  .instagram-post-item {
    width: 100%; 
    margin: 20px 0; 
    height: auto; 
  }

  .instagram-post-item blockquote {
    transform: scale(1); 
  }

}

/* slider css */

.swiper {
  width: 1200px;
  height: 500px;
}

.swiper-slide {
  text-align: center;
  font-size: 18px;

  /* Center slide text vertically */
  display: flex;
  justify-content: center;
  align-items: center;
}

.swiper-slide img {
  display: block;
  width: 100%;
  height: 100%;
  object-fit: cover;
}


/* carousel */

.slider {
  height: 250px;
  margin: auto;
  position: relative;
  width: 90%;
  display: grid;
  place-items: center;
  overflow: hidden;
}

.slide-track{
  display: flex;
  width: calc(250px*18);
  animation: scroll 40s linear infinite;
}

@keyframes scroll{
  0%{
    transform: translateX(0);
  }
  100%{
    transform: translateX(calc(-250px*9));;
  }
}

.slide{
  height: 200px;
  width: 250px;
  display: flex;
  align-items: center;
  padding: 15px;
  perspective: 100px;
}

.slide img{
  width: 100%;
}



.slider::before,
.slider::after{
 
  content: '';
  height: 100%;
  position: absolute;
  width: 15%;
  z-index: 2;
}

.slider::before{
  left:0;
  top:0;
}

.slider::after{
  right: 0;
  top: 0;
  transform: rotateZ(180deg);
}